body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #2f774e;
}

.container{
    width: 92%;
    margin: 0 auto;
    margin-top: 10px;
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between
}

h1 {
    text-align: center;
    color: #333;
}

.box{
    background-color: rgb(37, 37, 37); 
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card{
    background-color: rgb(37, 37, 37); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(37, 37, 37);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between
}

.icon {
    width: 100px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-bottom: 5px;
    margin-right: 20px;
  }

  .icon img {
    width: 80px;
  }

  .title {
    font-size: 20px;
  }

  .count {
    font-size: 30px;
    font-style: bold;
    color: #2f774e;
  }

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #2f774e;
    text-decoration: underline;
    font-weight: normal;
    float: left
  }
  
  button:hover {
    text-decoration: none;
    color: #4CAF50;
  }

  .euro-symbol {
    margin-left: 1px; /* Adjust margin as needed */
  }
