<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="..\static\css\navigation.css">
    <link rel="stylesheet" href="..\static\css\dashboard.css">  
</head>
<body>
    <nav class = "navbar">
        <ul>
            <li><img src="../static/images/logo.png" alt="Marry's Pharma" class="logo"></li>
            <li><a href ="{{ url_for('home') }}">Home</a></li>
            <li><a href ="{{ url_for('patients') }}">Patients</a></li>
            <li><a href ="{{ url_for('products') }}">Products</a></li>
            <li><a href ="{{ url_for('purchase') }}">Purchase</a></li>
            <li><a href ="{{ url_for('contact') }}">Contact</a></li>
            <li><a href ="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>
    
</body>
</html>
