<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
  <!-- Logo Section -->
    <div class="logo-section">
       <img src="../static/images/logo.png" alt="Marry's Pharma" class="logo">
    </div>
        <!-- Login Form Section -->
    <div class="login-section">
        <h2>Login into your account</h2>
        <form action="login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
