<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="..\static\css\navigation.css">
    <link rel="stylesheet" href="..\static\css\patients.css">  
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><img src="../static/images/logo.png" alt="Marry's Pharma" class="logo"></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('patients') }}">Patients</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('go_add_product')}}">Add Product</a></li>
            <li><a href="{{ url_for('purchases') }}">Purchases</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Products List</h1>
        <input type="text" id="search-input" placeholder="Search by name or producer...">
        <div class="product-list">
            <table id="table1" data-sort-order="asc">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Producer</th>
                        <th>Price</th>
                        <th>Expiration Date</th>
                        <th>Quantity</th>
                        <th>Category</th>
                        <th>Medical Prescription</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody id="product-list">
                    <!-- Data will be dynamically populated using JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- The Edit Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Product Information</h2>
            <form id="updateForm">
                <label for="name">Name:</label>
                <input type="text" id="name" required>

                <label for="producer">Producer:</label>
                <input type="text" id="producer" required>

                <label for="price">Price:</label>
                <input type="text" id="price" step="0.01" required>

                <label for="expiration_date">Expiration Date:</label>
                <input type="date" id="expiration_date" required>

                <label for="quantity">Quantity:</label>
                <input type="text" id="quantity" required>

                <label for="category">Category:</label>
                <input type="text" id="category">

                <label for="medical_prescription">Medical Prescription:</label>
                <select id="medical_prescription" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                <div class="modal-footer">
                    <button type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    </div>

    <script src="..\static\js\products.js"></script>
</body>
</html>
