<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchases</title>
    <link rel="stylesheet" href="..\static\css\navigation.css">
    <link rel="stylesheet" href="..\static\css\patients.css">  
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><img src="../static/images/logo.png" alt="Marry's Pharma" class="logo"></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('patients') }}">Patients</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('purchases') }}">Purchases</a></li>
            <li><a href="{{ url_for('go_add_purchase') }}">New Purchase</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Recent Orders</h1>
        <input type="text" id="search-input" placeholder="Search by name...">
        <table id="table1" data-sort-order="asc">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Medicine Name</th>
                    <th>Producer Name</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Actions</th> <!-- Add this new header for action buttons -->
                </tr>
            </thead>
            <tbody id="recent-sales">
                <!-- Data will be dynamically populated using JavaScript -->
            </tbody>
        </table>
    </div>

   <!-- Edit Modal -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="updateForm">
            <label for="patientName">Patient Name:</label>
            <input type="text" id="patientName" name="patientName">

            <!-- Added CNP field -->
            <label for="cnp">CNP:</label>
            <input type="text" id="cnp" name="cnp">

            <label for="medicineName">Medicine Name:</label>
            <input type="text" id="medicineName" name="medicineName">

            <label for="producer">Producer:</label>
            <input type="text" id="producer" name="producer">

            <label for="quantity">Quantity:</label>
            <input type="text" id="quantity" name="quantity">

            <label for="purchaseDate">Purchase Date:</label>
            <input type="date" id="purchaseDate" name="purchaseDate">

            <div class="modal-footer">
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>

    <script src="..\static\js\purchases.js"></script>
</body>
</html>
